<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
      <h1>NBA点赞系统</h1>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>球员</td>
          <td>点赞数</td>
          <td>操作</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.num}}</td>
            <td><a href="/dianzan?id={{i.id}}">点赞</a></td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>